NODE_ENV=production
BACKEND_URL=https://api.seudominio.com
FRONTEND_URL=https://app.seudominio.com
PROXY_PORT=443
PORT=7777

DB_DIALECT=postgres
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=usuario_do_banco
DB_PASS=senha_do_banco
DB_NAME=whaticket
DB_TIMEZONE=-03:00

JWT_SECRET=gere_com_openssl_rand_base64_32
JWT_REFRESH_SECRET=gere_com_openssl_rand_base64_32

REDIS_URI=redis://127.0.0.1:6379
REDIS_OPT_LIMITER_MAX=1
REDIS_OPT_LIMITER_DURATION=3000

USER_LIMIT=999999
CONNECTIONS_LIMIT=999999
CLOSED_SEND_BY_ME=true
